html, body{  
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Calibri", sans-serif;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    background: #fff;
}

.kontent{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

a{
   text-decoration: none;
    
}

div{
    background:...;
}

header{
    display: inline-flex;
    justify-content: space-around;
}

.logotyp{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin: 40px;
}

.tellBlock{
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.href-box{
    margin: auto;
}

section{
    display: block;
}

.basket{
    margin: 50px;
   
}
.PunctMenu{
    
}

.menu{
     float: left;
     position: relative;
     list-style: none;
     width: 200px;
}

ul {
     padding: 0;
     margin: 0;
     list-style: none;
}

.menu a{
  display: block;
  background-color: #228B22;  
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.5s all;
  top:0;
}

.menu a:hover {
    background: #1E90FF;
    height: 20px;
    top:0;
}
.menu_li{
  position: relative; 
  margin-top: 0;
  min-height: inherit;
}

.menu_li_elem{
  position: absolute;
  width: 100%;
  left: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s opacity;
}

.menu_li:hover .menu_li_elem{
  opacity: 1;
  visibility: visible;
  top:0;
}